<div class="sidebar">
    <div class="nav-list">

        <div class="nav-item">
            <span class="nav-item-titulo"> Usuarios </span>
            <mat-icon> keyboard_arrow_right </mat-icon>
        </div>

        <div class="nav-item">
            <span class="nav-item-titulo"> Donaciones </span>
            <mat-icon> keyboard_arrow_right </mat-icon>
        </div>

        <div class="nav-item">
            <span class="nav-item-titulo"> Recorridos </span>
            <mat-icon> keyboard_arrow_right </mat-icon>
        </div>

    </div>
</div>